{% extends "layout.html" %}

{% block content %}
<div class="login">
	<form action="/login" method=post>
		<input name=username placeholder="username" autofocus required>
		<!--<input name=password type=password required>-->
		<button>Awake</button>
	</form>
</div>
{% endblock %}
