html, body {
	line-height: 1em;
}

html, body, button, div, input, img {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

button, div, input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: inherit;
}

button, input {
	padding: 3px 5px;
	margin: 2px;
}
